 <!DOCTYPE html>
<html>
  <head>
    <title>category</title>
  </head>

  <link rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('components/angular-ui-select/dist/select.min.css') }}">
  <link rel="stylesheet" href="{{ asset('components/selectize/dist/css/selectize.default.css') }}">

  <body ng-app="preloader">
    <div ui-view></div>
    <script src="{{ asset('libs/libs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/app.js') }}" type="text/javascript"></script>
  </body>
</html> 
